.signin-wrapper{
    background-color: white;
    inline-size: 100%;
    block-size: 100vh;
}
.signin-wrapper .container .row:first-child{
    block-size: 100vh;
}
.signin-form{
    background-color: #1f1f38;
    inline-size: 400px;
    background-image: url(../images/bg-texture.png);
    border-radius: 10px;
}
.brand img{
    inline-size: 50%;
}
.form-body{
    font-family: 'Montserrat';
}
.form-body .input input{
    font-weight: 600;
}
.form-body .input input:focus{
    box-shadow: none;
}
.form-body .input input::placeholder{
    font-family: 'Montserrat';
    color: black;
    font-weight: 500;
}
.form-body .error-icon{
    inset-inline-end: 10px;
    inset-block-start: 1px;
    font-size: 20px;
    display: none;
}
.forgot-password p{
    color: rgb(77, 181, 255);
    text-decoration: none;
    font-size: 14px;
}
.forgot-password .link:hover{
    color: rgb(77, 181, 255);
}
.btn-login button{
    background-color: rgb(77, 181, 255);
    color: white;
    font-weight: 900;
}
.btn-login button:hover{
    background-color: rgba(77, 181, 255, 0.7);
    color: white;
}
.btn-login button:disabled{
    background-color: rgba(77, 181, 255, 1);
}
.signup-user-link{
    color: rgb(77, 181, 255);
}
.error-message{
    font-size: 13px;
    color: red;
}
@media only screen and (max-width : 992px) {
    .form-image{
        inline-size: 40%;
    }
}
@media only screen and (max-width : 892px) {
    .form-image{
        display: none !important;
    }
}
@media only screen and (max-width : 388px) {
    .forgot-password p{
        font-size: 12px;
    }
    .new-user h6, span{
        font-size: 12px;
    }
    .policy-text p{
        font-size: 10px;
    }
}

.policy-text{
    color: rgb(77, 181, 255);
    text-decoration: none;
    font-size: 11px;
}