.error-image-box img{
   block-size: 350px;
}
.error-image-box h2{
   font-family: 'Montserrat';
   font-weight: 800;
}
.redirect-home-button button{
   inline-size: 200px;
   block-size: 40px;
   background-color: rgba(77, 181, 255, .8);
   color: black;
   font-weight: 900;
   font-family: 'Montserrat'
}

.redirect-home-button button:hover{
   background-color: rgba(77, 181, 255, 1);
   color: white;
}