.btn{
    padding-block-start: 0px;
    letter-spacing: 1px;
}
.btn:focus{
    border: none;
}
.up{
    background-color: rgba(77, 181, 255, 0.3);
    letter-spacing: 2px;
}
@media only screen and (max-width : 1040px) {
    .dropup{
        display: none;
    }
}